@font-face {
	font-family: "pencilwrote";
	src: url("pencil_wrote.otf");
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	height: 100vh;
	font-family: system-ui, sans-serif;
	background: white;
	cursor: pointer;
}


/* TOP MENU */
.menu {
	position: fixed;
	top: env(safe-area-inset-top, 20px);

	left: 50%;
	transform: translateX(-50%);

	display: grid;
	grid-template-columns: repeat(3, 100px);
	gap: 70px;
}
/* for safari */
@supports (-webkit-touch-callout: none) {
	.menu {
		transform: translateX(-50%) translateZ(0);
	}
}
.menu a img {
	margin-top: 16px;
	padding: 5px 0;
	width: 100px;
	height: 100px;
	cursor: pointer;
}

/* wallet */
.wallet {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100vw;
	height: 100vh;
	height: 100svh;
}
.wallet-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 70vw;
	height: 50svh;
}
.wallet-wrapper img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
	user-select: none;
	pointer-events: none;
}


.test {
	font-family: "pencilwrote";
	font-size: 50px;
	color: #939395;
	margin-top: 150px;
	text-align: center;
}
