@font-face {
	font-family: "pencilwrote";
	src: url("pencil_wrote.otf");
}

* {
	box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	font-family: system-ui, sans-serif;
	background: white;
	cursor: pointer;
}

.row {
	display: flex;
	justify-content: space-between;

	width: 100%;
	padding: 240px 8vw 0; /* top | left-right | bottom */

}
.wallet {
	display: flex;
	justify-content: center;
	align-items: center;

	width: auto;
	height: auto;
	padding: 0;
}
.wallet-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 40vw;
	max-width: 320px;
	height: auto;
}
.wallet-wrapper img {
	display: block;
	width: 100%;
	height: auto;
	object-fit: contain;
	user-select: none;
	pointer-events: auto;
	cursor: pointer;
}

.privacy {
	position: fixed;
	bottom: env(safe-area-inset-bottom, 20px);
	padding-bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	width: 100%;
	pointer-events: none;
}
.privacy p {
	margin: 0;
	font-size: 35px;
	font-family: "pencilwrote";
	color: #939395;
}

/* remove blue tap highlight on upon clicks */
a, button, img, body {
	-webkit-tap-highlight-color: transparent; /* safari/ios */
	tap-highlight-color: transparent;
}

@media (max-width: 768px) {
	.row {
		flex-direction: column;
		align-items: center;
		gap: 24px;
		padding-top: 80px;
	}
	.wallet-wrapper {
		width: 80vw;
		max-width: none;
	}
	main {
		padding-bottom: 90px;
	}
}

