@font-face {
	font-family: "pencilwrote";
	src: url("pencil_wrote.otf");
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: system-ui, sans-serif;
	background: white;
	cursor: pointer;
}

/* TOP MENU */
.menu {

	position: fixed;
	top: env(safe-area-inset-top, 20px);
	left: 50%;
	transform: translateX(-50%);

	display: flex;
	justify-content: center;
	align-items: center;

	width: auto;
	z-index: 100;
}
.menu a img {
	margin-top: 16px;
	padding: 5px 0;

	width: 64px;
	height: auto;
	max-width: 64px;

	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	user-drag: none;
}

@media (max-width: 768px) {
	.menu a img {
		max-width: 80px;
	}
	.row {
		align-items: center;
		flex-direction: column;
		gap: 24px;
		padding-top: 80px;
	}
	.expl {
	}
}
/* for safari */
@supports (-webkit-touch-callout: none) {
	.menu {
		transform: translateX(-50%) translateZ(0);
	}
}



.row {
	display: flex;
	justify-content: space-between;

	width: 100%;
	padding: 240px 8vw 0; /* top | left-right | bottom */

}
.wallet {
	display: flex;
	justify-content: center;
	align-items: center;

	width: auto;
	height: auto;
	padding: 0;
}
.wallet-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 40vw;
	max-width: 320px;
	height: auto;
}
.wallet-wrapper img {
	display: block;
	width: 100%;
	height: auto;
	object-fit: contain;
	user-select: none;
	pointer-events: none;
}

.expl {
	max-width: 400px;
	width: 100%;
	align-items: flex-start;

	margin-right: 15vw;
}
.expl ol {
	margin: 0;

	font-size: 40px;
	font-family: "pencilwrote";
	line-height: 1.4;
}
.expl li {
	margin-bottom: 8px;
}
.expl li::marker {
	font-family: "Inter", sans-serif;
	font-size: 10px;

	vertical-align: middle;
}

.privacy {
	position: fixed;
	bottom: env(safe-area-inset-bottom, 20px);
	padding-bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	width: 100%;
	pointer-events: none;
}
.privacy p {
	margin: 0;
	font-size: 35px;
	font-family: "pencilwrote";
	color: #939395;
}

/* remove blue tap highlight on upon clicks */
a, button, img, body {
	-webkit-tap-highlight-color: transparent; /* safari/ios */
	tap-highlight-color: transparent;
}
