@font-face {
	font-family: "pencilwrote";
	src: url("pencil_wrote.otf");
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	height: 100vh;
	font-family: system-ui, sans-serif;
	background: white;
	cursor: pointer;
}

/* TOP MENU */
.menu {
	position: fixed;
	top: env(safe-area-inset-top, 20px);
	left: 50%;
	transform: translateX(-50%);

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 4vw;
	width: min(90vw, 420px);
	justify-items: center;
	z-index: 10;
}
.menu a img {
	margin-top: 16px;
	padding: 5px 0;
	width: 100%;
	height: auto;
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	user-drag: none;
}

@media (max-width: 768px) {
	.menu a img {
		max-width: 80px;
	}
}
/* for safari */
@supports (-webkit-touch-callout: none) {
	.menu {
		transform: translateX(-50%) translateZ(0);
	}
}


/* wallet */
.wallet {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100vw;
	height: 100svh;
	padding-top: env(safe-area-inset-top, 60px);
	padding-bottom: env(safe-area-inset-top, 60px);
	box-sizing: border-box;
}
.wallet-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 60vw; 
	height: 45svh;
}
.wallet-wrapper img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
	user-select: none;
	pointer-events: none;
}


.daily {
	padding-top: 20px;
	width: 80vw;
}
.daily p {
	font-family: "pencilwrote";
	font-size: 50px;
	color: #939395;
	margin-top: 150px;
	text-align: center;
}

.privacy {
	position: fixed;
	bottom: env(safe-area-inset-bottom, 20px);
	padding-bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	width: 100%;
	pointer-events: none;
}
.privacy p {
	margin: 0;
	font-size: 35px;
	font-family: "pencilwrote";
	color: #939395;
}
