* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	font-family: system-ui, sans-serif;
	background: white;
}

/* TOP MENU */
.menu {
	position: absolute;
	top: env(safe-area-inset-top, 20px);
	left: 50%;
	transform: translateX(-50%);
	display: grid;
	grid-template-columns: repeat(3, 100px);
	gap: 40px;
}

.menu a img {
	margin-top: 16px;
	padding: 8px 0;
	width: 100px;
	height: 100px;
	cursor: pointer;
}

.menu-item {
	width: 150px;
	height: 100px;
}
.menu-item.spacer {
	visibility: hidden;
}

/* wallet */
.wallet {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 600px;
	max-width: 90vw;
	padding: 0 90px;
}

.wallet img.namecard {
	width: 100%;
	height: auto;
	display: block;
}

/* arrows */
.arrow {
	position: absolute;
	font-size: 48px;
	text-decoration: none;
	color: black;
	top: 50%;
	transform: translateY(-50%);
	user-select: none;
}

.arrow img {
	width: 40px;
	height: auto;
}

.arrow.left {
	left: 0;
}

.arrow.right {
	right: 0;
}

/* hide arrows when not needed */
.arrow.hidden {
	display: none;
}
